<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.mapper.ChatFriendMsgLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.king.model.po.ChatFriendMsgLogs">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="friend_info_id" property="friendInfoId"/>
        <result column="send_id" property="sendId"/>
        <result column="send_time" property="sendTime"/>
        <result column="receive_id" property="receiveId"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="msg_type" property="msgType"/>
        <result column="msg_content" property="msgContent"/>
        <result column="msg_read_status" property="msgReadStatus"/>
        <result column="msg_offline_status" property="msgOfflineStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="chat_version" property="chatVersion"/>
        <result column="data_sources" property="dataSources"/>
        <result column="ip_send_location" property="ipSendLocation"/>
        <result column="ip_receive_location" property="ipReceiveLocation"/>
        <result column="data_status" property="dataStatus"/>
    </resultMap>
    <select id="getMsgLogsByOneUserId" resultType="com.king.model.po.ChatFriendMsgLogs">
        select *
        from `netty-chat`.chat_friend_msg_logs
        where send_id = #{userId}
           or receive_id = #{userId}
    </select>


</mapper>
